<section id="one" class="wrapper style1">
    <div class="inner">
	    <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
        <div class="content">
            <p> Posted on $date$
                $if(author)$
                    by $author$
                $endif$</p>
            <h2 class="major">$title$</h2>
            <p>$body$</p>
        </div>
    </div>
</section>
<section id="one" class="wrapper style2">
    <div class="inner">
	    <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
        <div class="content">
            <p>You can find more in the <a href="/archive.html">archives</a>.</p>
        </div>
    </div>
</section>
